.env
!dev/.env
.DS_Store
.data/
.venv/
.pytest_cache/
__pycache__/
*.py[cod]
.coverage
htmlcov/
storage/
.run/
logs/
/workspace/
/comfy-shell-v3-workspace/
/sources/
/versions/
/models/
/current
/state.json
/dev/*
!/dev/.env
